@import '../../../styles.scss';

.dir-blue {
    color: $dir-blue-color;
    font-weight: 500;
}

.type-icon {
    width: 32px;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    border-radius: 8px;
    margin: 0 auto;

    img {
        width: 24px;
        height: 24px;
        aspect-ratio: 1 / 1;
        display: block;
    }
}

.dir-icon {
    width: 16px;
    aspect-ratio: 1 / 1;
}


.arrow-right {
    transform: rotate(0deg);
}

.arrow-left {
    transform: rotate(180deg);
}