<app-loading [visible]="isLoading()" />

@if (!isLoading() && errorMessage()) {
<p class="error">{{ errorMessage() }}</p>
}

@if (!isLoading() && !errorMessage() && rows().length > 0) {
<table>
    <thead>
        <tr>
            @for (col of visibleColumns; track col) {
            <th>{{ col }}</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (row of rows(); track $index) {
        <tr>
            @for (col of visibleColumns; track col) {
            <td>
                @if (col === 'type') {
                <div class="type-icon" [ngStyle]="{ 'background-color': getBgColorForType(row[col]) }">
                    <img [src]="getIconForType(row[col])" alt="type icon" class="type-icon" />
                </div>
                }
                @if (col === 'dir') {
                <img [src]="getDirIcon(row)" [ngClass]="{'arrow-left': isDirLeftBlue(row)}" alt="dir icon"
                    class="dir-icon" />
                @if (row['dir']) {
                <span [ngClass]="{'dir-blue': isDirLeftBlue(row)}">
                    {{ row['dir'] }}
                </span>
                }
                }
                @if (col !== 'type' && col !== 'dir') {
                {{ row[col] }}
                }
            </td>
            }
        </tr>
        }
    </tbody>
</table>
}